.buscadorDiv {
    flex-direction: row;
}

@media only screen and (max-width: 1000px) {
    .buscadorDiv {
        flex-direction: column;
        width: 100%;
    }

    .title {
        font-size: 1.5em;
    }

    .subtitle {
        font-size: 1em;
    }
}