<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <img [src]="'assets/img/alzina.png'" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarHeader">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarHeader" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" [routerLink]="['/stock']">
                Stock
            </a>
            <a class="navbar-item" [routerLink]="['/sold']">
                Sold
            </a>
            <a class="navbar-item" [routerLink]="['/dashboard']">
                Dashboard
            </a>
            <!-- <a class="navbar-item" [routerLink]="['/dashboard/pruebas']">
                pruebas
            </a> -->
        </div>
    </div>
</nav>