<div class="container p-4">
    <header class="my-6">
        <div class="is-flex  is-justify-content-center is-align-items-center w-100 m-auto buscadorDiv">
            <div class="m-2 w-100">
                <input class="input is-fullwidth" type="text" placeholder="Nombre pieza" [(ngModel)]="nombreFiltro"
                    (input)="onChangeNombreFiltro()">
            </div>
            <div class="m-2 w-100">
                <div class="select w-100">
                    <select class="w-100" [(ngModel)]="tipoPiezaFiltro" (change)="onChangeTipoPieza()">
                        <option value="">No Filter</option>
                        @for (tipo of tipos; track $index) {
                        <option>{{tipo.name}}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="m-2 w-100">
                <button class="button is-light is-fullwidth" (click)="cleanFilters()">Limpiar Filtros</button>
            </div>
        </div>
    </header>
    <main>
        <section class="columns is-multiline  is-justify-content-center">
            @for (pieza of piezas; track $index) {
            <div class="card m-2 column" style="min-width: 300px; ">
                <div class="card-content">
                    <div class="title is-flex is-justify-content-space-between">
                        <span>{{pieza.name}}</span>
                        <span>{{pieza.price}} €</span>
                    </div>
                    <p class="subtitle">
                        {{pieza.type}}
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <button class="button is-success" (click)="soldPieza($index)">Vender</button>
                    </p>
                </footer>
            </div>
            }
        </section>
    </main>

</div>