@if (!loading) {
<main class="container">
    <header class="my-2">
        <div
            class="is-flex is-justify-content-space-between is-align-items-flex-end is-flex-wrap-wrap is-flex-direction-row">
            <div class="field w-100">
                <label class="label">Fecha de Venta</label>
                <div class="control">
                    <div class="select w-100">
                        <select class="w-100" (change)="getTotalPorFecha()" [(ngModel)]="fechaFiltro">
                            @for (fecha of fechasVentas; track fecha) {
                            <option>{{ fecha }}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="field w-100">
                <button class="button is-light is-fullwidth" (click)="clearFilters()">Limpiar Filtros</button>
            </div>
        </div>
    </header>
    <section class="is-flex is-flex-wrap-wrap">
        <article class="w-100 my-2">
            <header>
                <h2 class="is-size-3 mb-2">
                    Piezas
                </h2>
            </header>
            <div style="overflow-x: scroll">
                <table class="table is-striped">
                    <thead>
                        <tr class="w-100">
                            <th class="cursor-pointer" (click)="sortPiezas('name')">Nombre</th>
                            <th class="cursor-pointer" (click)="sortPiezas('price')">Precio</th>
                            <th class="cursor-pointer" (click)="sortPiezas('type')">Tipo</th>
                            <th>Vendida</th>
                            <th>Fecha Venta</th>
                            <th class="cursor-pointer" (click)="sortPiezas('coments')">Comentarios</th>
                            <th class="cursor-pointer" (click)="sortPiezas('paymentMethod')">Metodo Pago</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="w-100">
                            <th class="cursor-pointer" (click)="sortPiezas('name')">Nombre</th>
                            <th class="cursor-pointer" (click)="sortPiezas('price')">Precio</th>
                            <th class="cursor-pointer" (click)="sortPiezas('type')">Tipo</th>
                            <th>Vendida</th>
                            <th>Fecha Venta</th>
                            <th class="cursor-pointer" (click)="sortPiezas('coments')">Comentarios</th>
                            <th class="cursor-pointer" (click)="sortPiezas('paymentMethod')">Metodo Pago</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @for (pieza of piezas; track pieza.id) {
                        <tr>
                            <td>{{pieza.name}}</td>
                            <td>{{pieza.price}} €</td>
                            <td>{{pieza.type}}</td>
                            <td>
                                @if (pieza.isSold) {
                                <span class="has-text-success">Vendido</span>
                                }
                                @else{
                                <span class="has-text-danger">No Vendido</span>

                                }
                            </td>
                            <td>{{dateformatted(pieza.dateSold)| date:'dd/MM/yyyy hh:mm'}}</td>
                            <td>{{pieza.coments}}</td>
                            <td>{{pieza.paymentMethod}}</td>
                            <td class="">
                                <button class="button is-danger is-small" (click)="unSoldPieza($index)">
                                    No Vendido
                                </button>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </article>
        <article class="w-100 my-2">
            <header>
                <h2 class="is-size-3 mb-2">Desglose Ventas</h2>
            </header>
            <div style="overflow-x: scroll">
                <table class="table is-striped w-100">
                    <thead>
                        <tr>
                            <th>Metodo de Pago</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (paymentMethod of paymentMethods; track paymentMethod) {

                        <tr>
                            <td>{{paymentMethod}}</td>
                            <td>{{getTotalFormPaymentMethod(paymentMethod)}} €</td>
                        </tr>
                        }
                        <tr>
                            <th>Total</th>
                            <td>{{getTotalPorFecha()}} €</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </article>
    </section>
</main>
} @else {
<div class="w-100 is-flex is-justify-content-center is-align-items-center">
    <img [src]="'assets/gif/loading.gif'" alt="">
</div>
}