@if (!loading) {
<main class="container">
    <header class="my-2">
        <div
            class="is-flex is-justify-content-space-between is-align-items-flex-end is-flex-wrap-wrap is-flex-direction-row">
            <div class="field w-100">
                <label class="label">Fecha de Venta</label>
                <div class="control">
                    <div class="select w-100">
                        <select class="w-100" (change)="getTotalPorFecha()" [(ngModel)]="fechaFiltro">
                            <option value="all">Total</option>
                            @for (fecha of fechasVentas; track fecha) {
                            <option>{{ fecha }}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="field w-100">
                <button class="button is-light is-fullwidth" (click)="clearFilters()">Limpiar Fechas</button>
            </div>
        </div>
    </header>
    <h2 class="is-size-3 mb-2">
        Buscador
    </h2>
    <buscador-piezas [piezas]="piezasNuevas" (piezasChange)="mapPiezasNuevas($event)"></buscador-piezas>
    <section class="is-flex is-flex-wrap-wrap is-justify-content-space-between">
        <article class="my-2 w-100">
            <header>
                <h2 class="is-size-3 mb-2">
                    Piezas
                </h2>
            </header>
            <div style="overflow: scroll; height: 400px;">
                <table class="table is-striped w-100">
                    <thead>
                        <tr class="w-100">
                            <th class="cursor-pointer" (click)="sortPiezas('name')">Nombre</th>
                            <th class="cursor-pointer" (click)="sortPiezas('price')">Precio</th>
                            <th class="cursor-pointer" (click)="sortPiezas('type')">Tipo</th>
                            <th class="cursor-pointer" (click)="sortPiezas('dateSold')">Fecha Venta</th>
                            <th class="cursor-pointer" (click)="sortPiezas('coments')">Comentarios</th>
                            <th class="cursor-pointer" (click)="sortPiezas('paymentMethod')">Metodo Pago</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (pieza of piezas; track pieza.id) {
                        <tr>
                            <td>{{pieza.name}}</td>
                            <td>{{pieza.price}} €</td>
                            <td>{{pieza.type}}</td>
                            <td>{{dateformatted(pieza.dateSold)| date:'dd/MM/yyyy hh:mm aa'}}</td>
                            <td>{{pieza.coments}}</td>
                            <td>
                                {{pieza.paymentMethod}}
                            </td>
                            <td class="">
                                <div class="is-flex is-flex-wrap-nowrap">
                                    <button class="mx-1 button is-link" (click)="editarPieza(pieza)">Editar</button>
                                    <button class="mx-1 button is-danger" (click)="unSoldPieza($index)">
                                        No Vendido
                                    </button>
                                </div>

                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </article>
        <article class="my-2 w-100">
            <header>
                <h2 class="is-size-3 mb-2">Desglose Ventas</h2>
            </header>
            <div style="overflow-x: scroll">
                <table class="table is-striped w-100">
                    <thead>
                        <tr>
                            <th>Metodo de Pago</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (paymentMethod of paymentMethods; track paymentMethod) {

                        <tr>
                            <td>{{paymentMethod}}</td>
                            <td>{{getTotalFormPaymentMethod(paymentMethod)}} €</td>
                        </tr>
                        }
                        <tr>
                            <th>Total</th>
                            <td>{{getTotalPorFecha()}} €</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </article>
    </section>
</main>
} @else {
<div class="w-100 is-flex is-justify-content-center is-align-items-center">
    <img [src]="'assets/gif/loading.gif'" alt="">
</div>
}



@if(editPieza){

<div class="modal" [ngClass]="{'is-active': showModal}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{editPieza.name}}</p>
            <button class="delete" aria-label="close" (click)="showModal = false"></button>
        </header>
        <section class="modal-card-body">

            <div class="field">
                <label class="label">Comentarios sobre la venta</label>
                <div class="control">
                    <textarea [(ngModel)]="editPieza.coments" class="textarea"></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Tipo de Pago</label>
                <div class="control">
                    <div class="select w-100">
                        <select class="w-100" [(ngModel)]="editPieza.paymentMethod">
                            @for (tipo of paymentMethods; track tipo) {
                            <option>{{tipo}}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-link" (click)="updatePieza(editPieza)">Actualizar</button>
            <button class="button" (click)="showModal = false">Cancelar</button>
        </footer>
    </div>

</div>
}