@if (!loading) {
<main class="container p-5">
    <section>
        <article>
            <header>
                <h2 class="is-size-3 mb-2">
                    Nueva Pieza
                </h2>
            </header>
            <div class="formularioNuevaPieza">
                <div class="field">
                    <label class="label">Nombre pieza</label>
                    <div class="control">
                        <input [(ngModel)]="nuevaPieza.name" class="input" type="text" placeholder="Text input">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Precio pieza</label>
                    <div class="control">
                        <input [(ngModel)]="nuevaPieza.price" class="input" type="number" placeholder="0">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Numero de Piezas</label>
                    <div class="control">
                        <input [(ngModel)]="nuevaPieza.stock" class="input" type="number" placeholder="1">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Tipo de Pieza</label>
                    <div class="control">
                        <div class="select w-100">
                            <select class="w-100" [(ngModel)]="nuevaPieza.type">
                                <option value="">Selecciona un tipo</option>
                                @for (tipoPieza of tiposPieza; track tipoPieza.id) {
                                <option>{{tipoPieza.name}}</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <button class="button is-success" *ngIf="!isEditMode" [disabled]="!checkFormNuevaPieza()"
                        (click)="savePieza()">Guardar
                        Pieza</button>
                    <button class="button is-link" *ngIf="isEditMode" [disabled]="!checkFormNuevaPieza()"
                        (click)="updatePieza()">Actualizar
                        Pieza</button>
                </div>
            </div>
        </article>


        <h2 class="is-size-3 mb-2">
            Buscador
        </h2>
        <buscador-piezas [(piezas)]="piezas"></buscador-piezas>

        <article>
            <header>
                <h2 class="is-size-3 mb-2">
                    Piezas
                </h2>
            </header>
            <div class="tableDashboard">
                <table class="table is-striped w-100">
                    <thead>
                        <tr class="w-100">
                            <th class="cursor-pointer" (click)="sortPiezas('name')">Nombre</th>
                            <th class="cursor-pointer" (click)="sortPiezas('price')">Precio</th>
                            <th class="cursor-pointer" (click)="sortPiezas('type')">Tipo</th>
                            <th class="cursor-pointer" (click)="sortPiezas('type')">Stock</th>
                            <th class="cursor-pointer" (click)="sortPiezas('ventas')">Ventas</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (pieza of piezas; track pieza.id) {
                        <tr class="w-100">
                            <td>{{pieza.name}}</td>
                            <td>{{pieza.price}} €</td>
                            <td>{{pieza.type}}</td>
                            <td>{{pieza.stock}}/{{pieza.stock + pieza.ventas.length}}</td>
                            <td>
                                @if (pieza.ventas.length) {
                                <strong class="has-text-success">
                                    {{pieza.ventas.length}}
                                </strong>
                                }
                                @else{
                                <strong class="has-text-danger">
                                    No Vendido
                                </strong>
                                }
                            </td>
                            <td>
                                <div class="is-flex is-flex-wrap-nowrap">
                                    <button class="mx-1 button is-link" (click)="editarPieza(pieza)">Editar</button>
                                    <button class="mx-1 button is-danger"
                                        (click)="eliminarPieza(pieza)">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </article>
    </section>
    <section class="columns">
        <article class="column">
            <header>
                <h2 class="is-size-3 mb-2">
                    Nuevo tipo Pieza
                </h2>
            </header>
            <div>
                <div class="field">
                    <label class="label">Nombre tipo</label>
                    <div class="control">
                        <input (keyup.enter)="saveNuevoTipoPieza()" [(ngModel)]="nuevoTipoPieza.name" class="input"
                            type="text" placeholder="Jarron">
                    </div>
                </div>

                <div class="field">
                    <button class="button is-success" *ngIf="!isEditModeTipo" [disabled]="!checkFormNuevoTipoPieza()"
                        (click)="saveNuevoTipoPieza()">Guardar Tipo</button>
                    <button class="button is-link" *ngIf="isEditModeTipo" [disabled]="!checkFormNuevoTipoPieza()"
                        (click)="updateTipoPieza()">Actualizar Tipo</button>
                </div>
            </div>
        </article>
        <article class="column">
            <header>
                <h2 class="is-size-3 mb-2">
                    Tipos de Pieza
                </h2>
            </header>
            <div class="tableDashboard">
                <table class="table is-bordered is-striped w-100" *ngIf="tiposPieza.length">
                    <thead>
                        <tr>
                            <th class="cursor-pointer" (click)="sortTipoPiezas('name')">Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="cursor-pointer" (click)="sortTipoPiezas('name')">Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @for (tipoPieza of tiposPieza; track tipoPieza.id) {
                        <tr>
                            <td>{{tipoPieza.name}}</td>
                            <td>
                                <div class="is-flex is-flex-wrap-nowrap">
                                    <button class="mx-1 button is-link"
                                        (click)="editarTipoPieza(tipoPieza)">Editar</button>
                                    <button class="mx-1 button is-danger"
                                        (click)="eliminarTipoPieza(tipoPieza)">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </article>

    </section>
</main>

} @else {
<div class="w-100 is-flex is-justify-content-center is-align-items-center">
    <img [src]="'assets/gif/loading.gif'" alt="">
</div>
}