<main class="container p-5">
    <section class="columns">
        <article class="column is-info">
            <h2 class="is-size-3">
                Nueva Pieza
            </h2>
            <div class="field">
                <label class="label">Nombre pieza</label>
                <div class="control">
                    <input [(ngModel)]="nuevaPieza.name" class="input" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Precio pieza</label>
                <div class="control">
                    <input [(ngModel)]="nuevaPieza.price" class="input" type="number" placeholder="0">
                </div>
            </div>
            <div class="field">
                <label class="label">Numero de Piezas</label>
                <div class="control">
                    <input [(ngModel)]="numeroPiezas" class="input" type="number" placeholder="1">
                </div>
            </div>
            <div class="field">
                <label class="label">Tipo de Pieza</label>
                <div class="control">
                    <div class="select w-100">
                        <select class="w-100" [(ngModel)]="nuevaPieza.type">
                            <option value="">Selecciona un tipo</option>
                            @for (tipoPieza of tiposPieza; track tipoPieza.id) {
                            <option>{{tipoPieza.name}}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-flex is-justify-content-end">
                <button class="button is-success" [disabled]="!checkFormNuevaPieza()"
                    (click)="savePieza()">Success</button>
            </div>
        </article>

        <article class="column ">
            <h2 class="is-size-3 mb-2">Piezas</h2>
            <div class="tableDashboard">
                <table class="table is-bordered is-striped w-100" *ngIf="piezas.length">
                    <thead>
                        <tr class="w-100">
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Tipo</th>
                            <th>Vendida</th>
                            <th>Fecha Venta</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="w-100">
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Tipo</th>
                            <th>Vendida?</th>
                            <th>Fecha Venta</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @for (pieza of piezas; track pieza.id) {
                        <tr class="w-100">
                            <td>{{pieza.name}}</td>
                            <td>{{pieza.price}} €</td>
                            <td>{{pieza.type}}</td>
                            <td>
                                @if (pieza.isSold) {
                                <span class="has-text-success">Vendido</span>
                                }
                                @else{
                                <span class="has-text-danger">No Vendido</span>

                                }
                            </td>
                            <td>{{dateformatted(pieza.dateSold)| date:'dd/MM/yyyy hh:mm'}}</td>
                            <td>
                                <button class="button is-danger" (click)="eliminarPieza(pieza)">Eliminar</button>

                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </article>
    </section>
    <section class="columns">
        <article class="column is-info">
            <h2 class="is-size-3">
                Nuevo tipo Pieza
            </h2>
            <div class="field">
                <label class="label">Nombre tipo</label>
                <div class="control">
                    <input [(ngModel)]="nuevoTipoPieza.name" class="input" type="text" placeholder="Jarron">
                </div>
            </div>

            <div class="field is-flex is-justify-content-end">
                <button class="button is-success" [disabled]="!checkFormNuevoTipoPieza()"
                    (click)="saveNuevoTipoPieza()">Success</button>
            </div>
        </article>
        <article class="column">
            <h2 class="is-size-3 mb-2">Tipos de Pieza</h2>
            <div class="tableDashboard">
                <table class="table is-bordered is-striped w-100" *ngIf="piezas.length">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @for (tipoPieza of tiposPieza; track tipoPieza.id) {
                        <tr>
                            <td>{{tipoPieza.name}}</td>
                            <td class="is-flex is-justify-content-end">
                                <button class="button is-danger"
                                    (click)="eliminarTipoPieza(tipoPieza)">Eliminar</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </article>

    </section>
</main>