.tableDashboard {
    height: 400px;
    overflow-y: scroll;
}
.formularioNuevaPieza{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}
.formularioNuevoTipoPieza{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}
