/* You can add global styles to this file, and also import other style files */
body {
    background-color: #d4d4d4;
    min-height: 100vh;
}

.w-100 {
    width: 100%;
}

.container {
    padding: 20px;
}

.field {
    margin-bottom: 0.75em;
}

.cursor-pointer {
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .field {
        width: 100%;
    }
}